@charset "utf-8";

@media screen and (max-width: 376px){
    .offer_main .offer_mark dl{padding:0 .3rem 0 .8rem;}
    .offer_main .amt_control dt{top:.2rem; left:.5rem; font-size: 1.3rem;} 
    .offer_main .amt_control dt:after{top:-.2rem; right: .8rem;}
    .offer_main .amt_control dd:first-of-type{margin-left: 7rem;}
    .offer_main .amt_control dd{font-size: 1.2rem; line-height: 5;}
    .mysale_present .purchase_manage .header{height: 10rem;}
    .mysale_present .purchase_manage .right_area.type{top:3.7rem !important;}
    .locate_area .map_area .map_control{bottom:8.2rem;}
    .locate_area .map_area .view_button{bottom:8rem;}
  }
  @media screen and (max-width: 362px){
    .control_area .control .input_control{width: 7.8rem;}
    .offer_type_area .filter_btn_list .act_btn+label{min-width: 7.4rem;}
    .offer_type_area .filter_btn_list .mb_block+label{line-height: normal;}
    .offer_type_area .filter_btn_list .mb_block+label span{display: block;}
    .new_request .link_select{width:48.6%}
    .register_list .input_form{width:64%;}
    .open_event_box .event_recomm li{margin-left: .4rem;}
    .open_event_box .event_recomm li:nth-child(2){margin-left:0;}
    .open_event_box .event_recomm li{width:31%;}
    .open_event_box .event_state .f_left,.open_event_box .event_state .f_right{float: none;}
    .set_visit_area .link_area{display: block; width:100%; padding-top:.8rem;}
    .fee_sec .agent_select .cont .input_amt{width:14rem;}
    .locate_area .map_area .map_control{bottom:4.2rem;}
    .locate_area .map_area .view_button{bottom:4rem;}
  }
  @media screen and (min-width: 320px) and (max-width: 359px){
    .control_area .control .input_control{width: 6.8rem;}
    .offer_main .offer_mark dl:first-of-type dd{font-size:1.7rem;}
    .offer_main .offer_mark dl{padding:0 .3rem;}
    .offer_main .offer_mark dd{font-size: 1.4rem;}
    .offer_main .amt_control dd{line-height: 6; font-size: 1rem;}
    .items_list li .img_area{width:13.4rem; height: auto; left:.2rem;}
    .items_list .item_info{margin-left: 13.8rem; font-size: 1.3rem;}
    .swiper_cont .items_list .img_area{width:12rem; top:1.4rem;}
    .swiper_cont .items_list .item_info{margin-left: 12.3rem;}
    .agent_grade_box .total dt{top:1.5rem; font-size: 1.4rem;}
    .agent_grade_box .total dd{font-size: 1.2rem}
    .grade_list_area .grade_list li em{width:42%;}
    .present_cont .state{padding:1.2rem .2rem;}
    .content_box .visit_chg_area{height:8rem;}
    .request_list .content_box .row.bottom_area .visit_chg{top:2.8rem;}
  }