@charset "utf-8";

.header_inner .right_link,.header2 .right_link{display: block; position: absolute; top:1.6rem; right:1.2rem; background-size: 100%; background-repeat: no-repeat;}
.header_inner .ico_search{top:1.4rem; width:1.8rem; height:1.8rem; background-image: url("../../images/sub/ico_search.png"); }
.header_inner .ico_share{width:2.2rem; height:1.7rem; background-image: url("../../images/sub/ico_share.png"); }
.header_inner .ico_set:before{display: inline-block; content:""; width:2rem; height:2.8rem; margin-right: .4rem; background: url("../../images/sub/ico_h_setting.png") no-repeat 0 .4rem; background-size: 100%; vertical-align: -.8rem;}
.header_inner .ico_set{top:.3rem; right:1.2rem; color: #fff;}

.filter_locate_box{height:5.1rem; padding:.6rem 0; background-color: #f9fcfd; border-bottom: 1px solid #dedede;}
.filter_locate_box .locate{width: 96%; margin:0 auto;}
.filter_locate_box .locate:after{display: block; content:""; clear: both;}
.filter_locate_box .locate dt{margin-left: 0;}
.filter_locate_box .area{float: left; width:32.6%; height:3.8rem; line-height: 2.7; margin-left: 1%; padding:0 .75rem; font-weight: 500; color: #1e1e1e; border:none; background-image:url("../../images/common/bg_select_active.png"); background-repeat: no-repeat; background-color: #fff; background-position: 88% 50%; background-size: 1.3rem; border:1px solid #e6e6e6; border-radius: .5rem; text-align: left;}
.filter_locate_box .area.no_data{position: relative; line-height: 3; background-color: #fafafa; background-image:url("../../images/common/bg_bottom_arr.png");}
.filter_locate_box .area.no_data::before{display: block; content: ""; position: absolute; top:50%; left: .75rem; width:.35rem; height: .1rem; background-color: #9c9c9c;}
.link_section .link_area a{float: left; width:33.3%; line-height: 3.6; border: 1px solid #dedede; border-top: none; border-left: none; background-color: #fff; text-align: center;}
.link_section .link_area a:nth-of-type(3n+1){border-left: 0;}
.link_section .link_area a:nth-of-type(3n){border-right: 0;}
.link_section .link_area a.active{color: #fff; background-color: #92d050;}
/*필터*/
.section_inner.deal_type{padding-bottom: 1.1rem;}
.filter_area:last-of-type .section_inner{border-bottom: none;}
.filter_area .content_head{padding-top:1.7rem;}
.filter_area .deal_type_area,.filter_area .offer_type_area {width: 96%; margin:0 auto;}
.filter_area .deal_type_area .act_btn+label{width:23.4%; margin-bottom: .8rem;}
.filter_area .offer_type_area .act_btn+label{width:32%; margin-bottom: .8rem;}
.filter_area .offer_type_area .act_btn+label:nth-of-type(3n+1){margin-left: 0;}
.content_head .filter_desc{position: absolute; top:2rem; right:1rem; color: #378cff;}
.offer_type_area .filter_btn_list{border:1px solid #ccc; border-radius: .5rem; background-color: #fff;}
.offer_type_area .filter_btn_list li{display: block; border-top:1px solid #ccc;}
.offer_type_area .filter_btn_list li:first-child{border-top:none;}
.offer_type_area .filter_btn_list li:after{display: block; content:""; clear: both;}
.offer_type_area .filter_btn_list .act_btn+label{float: left; display: block; width: 25%; min-height: 4.3rem; margin: 0; padding:.3rem 0; background-color: transparent; border:none; border-left:1px solid #ccc; border-radius: 0;}
.offer_type_area .filter_btn_list li .act_btn:first-of-type+label{border-left: none;}
.offer_type_area .filter_btn_list .act_btn:checked+label{background-color: #92d050;}
.offer_type_area .filter_btn_list li:first-child .act_btn:first-of-type:checked+label{border-top-left-radius: .4rem;}
.offer_type_area .filter_btn_list li:first-child .act_btn:last-of-type:checked+label{border-top-right-radius: .4rem;}
.offer_type_area .filter_btn_list li:last-child .act_btn:first-of-type:checked+label{border-bottom-left-radius: .4rem;}
.offer_type_area .filter_btn_list li:last-child .act_btn:last-of-type:checked+label{border-bottom-right-radius: .4rem;}
.filter_area .visit_chk+label{position: absolute; top:1.8rem; left:5.2rem;}
.offer_submit .btn{width:67%;}
.offer_submit .btn:first-of-type{width:33%;}
.control_area{position: relative; width:96%; margin:0 auto; padding-top: 4rem;}
.control_area:before{display: block; content:""; position: absolute; top:5.4rem; left: 50%; margin-left:-.7rem;  width:1.4rem; height: .4rem; background:url("../../images/sub/bg_filter.png") no-repeat; background-size: 100%;}
.control_area .control{float:left;}
.control_area .control.max{float: right;}
.control_area .control:after{display: block; content:""; clear: both;}
.control_area .control button{float: left; width:3.7rem; height:3.7rem; background-color:#fafafa; border:1px solid #dedede; border-radius: 0;}
.control_area .control button:before{display: inline-block; content:""; background-repeat: no-repeat; background-size: 100%; text-align: center;}
.control_area .control .minus:before{width:1.5rem; height: .2rem; vertical-align: .4rem; background-image: url("../../images/sub/bg_minus.png");}
.control_area .control .plus:before{width:1.5rem; height:1.5rem; background-image: url("../../images/sub/bg_plus.png"); vertical-align: -.2rem}
.control_area .control label{display: inline-block; float: left; height: 3.7rem; border-top:1px solid #dedede; border-bottom: 1px solid #dedede}
.control_area .control .input_control{float: left; width:9.5rem; height: 3.4rem; border:none; text-align: center;}
.control_area .control .input_control::placeholder{color: #9c9c9c;}

/*매물지도*/
.option .dis_ico{display: none;}
.header_section{background-color: #fff;}
.header_section .offer_info_header{float: left; width: 77%; height: 4.7rem; border-right: 1px solid #dedede;} 
.header_section .offer_info_header a{width:100%; height: 100%; padding:1.2rem 3.2rem 1rem 1.2rem; font-size: 1.4rem; color: #1e1e1e; background: url("../../images/common/bg_select_active.png") no-repeat 96% 50%; background-size: 1.3rem; text-overflow:ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.header_section .filter{float: left; width: 23%; line-height: 3.4; font-size: 1.4rem; font-weight: 700; color: #1e1e1e;text-align: center;}
.header_section .filter em{padding-left: .5rem; font-size: 1.4rem; font-weight: 700; color: #f15544;}
.all_offer_area{position: relative; padding-top:4.8rem;}
.offer_map{position: relative; height: 100%;}
.offer_map .map{height: 100%;;}
.offer_map .ico_offer_aera{position: absolute; height:2.5rem; background-color: #fff; border-radius: 5rem; z-index: 80; }
.offer_map .ico_offer_aera .cnt{display: inline-block; padding:.3rem 1.1rem .6rem; margin-top:-.2rem; font-weight: 700; font-size: 1.4rem; color:#fff; background-color:#ff6161; border-radius: 5rem;}
.offer_map .ico_offer_aera .address{display: inline-block;padding:0 1.2rem 0 .5rem; font-size: 1.3rem; color:#1e1e1e;}
.offer_map .ico_offer_aera.position1{top:2%; left:40%; }
.offer_map .ico_offer_aera.position2{top:15%; left:10%; }
.offer_map .ico_offer_aera.position3{top:30%; right:10%; }
.offer_map .ico_offer_aera.position4{top:27%; left:40%; }
.offer_map .ico_offer_aera .cnt.on{position: relative; color: #ff6161; background-color: #fff;}
.offer_map .ico_offer_aera .cnt.on:after{display: block; content:""; position: absolute; top:0; left:0; width:100%; height:100%; box-shadow: 0 0 0 .25rem #ff5050; border-radius: 5rem;}
.offer_map .map_control{top:50%; transform: translateY(-50%);}
.slide_box.slide_offer{height: 4.7rem;}
.slide_box.area_offer{height: 27rem;}
.slide_box.height_up .header{background-image: url("../../images/common/bg_select_active.png");}

/*매수/임차 중개의뢰*/
.agent_select .cont .name{position: relative; padding-right: .95rem; font-weight: 700; color: #1e1e1e;}
.agent_select .cont .name:after{display: inline-block; content:""; position: absolute; top:.4rem; right:.4rem; width:.1rem; height:1.2rem; background-color: #1e1e1e;}
.agent_select .cont .point{font-weight: 700; color:#ff6161;}
.agent_select .cont .link_style{margin-left: 1rem;}
.agent_select .cont .link_style:after{width:.6rem; right: 0;;}
.agent_select .cont .distance{position: absolute; top:1.2rem; right:1.2rem;}
.agent_select .cont .right_btn+label{position:absolute; bottom:2rem;; right: 1.2rem; color: #646464;}
.agent_select .cont .right_btn:checked+label{color: #fff;}
.agent_select .cont .address{padding-top:0.6rem;}
.agent_select_area .content_area .header{border-top:none;}
.new_request .select_area{padding: 1.7rem 1.2rem; background-color: #fff;}
.new_request .select_area .select_area_inner{text-align: center;}
.new_request .tit{margin-bottom: 1rem; font-size: 1.6rem; font-weight: 700;}
.new_request .link_select{margin-left:.2rem; text-align: left;}
.new_request .info_box{border-top: 1px solid #dedede; background-color:#fffbfb;}
.new_request .sub_info{padding-top:3rem; line-height: 2;}
.new_request .sub_info .line_dot{display: inline-block; width:100%; border-top: 1px dashed #3c3c3c; margin-bottom: .4rem;}
/*중개사 평점*/
.agent_grade_box{padding:1.2rem;}
.agent_grade_box .agent_grade{position: relative; border:1px solid #dedede; border-radius: 3px; background-color: #fff;}
.agent_grade_box .total{position: relative; padding-right:1.2rem; border-top:1px solid #dedede; border-bottom:1px solid #dedede; text-align: right;}
.agent_grade_box .point{color:#ff6161;}
.agent_grade_box .point.blue{color:#378cff;}
.agent_grade_box .total dt{position:absolute; top:1.2rem; left:1.3rem; font-weight: 700; font-size: 1.6rem; color: #1e1e1e;}
.agent_grade_box .total dd{display: inline-block; padding:1.5rem 0; }
.agent_grade_box .grade{padding:0 1rem; background-color:#f9fcfd; border-bottom-left-radius: .3rem; border-bottom-right-radius: .3rem; text-align: center;}
.agent_grade_box .grade li{float: left; width:33.3%; line-height: 3.9;}
.agent_grade_box .agent_img{top:1rem;}
.grade_list_area{font-weight: 400;}
.grade_list_area .contract_type{font-weight: 500;}
.grade_list_area .date{font-size: 1.2rem; color: #646464;}
.grade_list_area .grade_list{padding:1rem 0;}
.grade_list_area .grade_list li:first-child{margin-left:0;}
.grade_list_area .grade_list li{float: left; width:32%; margin-left: 1%;}
.grade_list_area .grade_list li em{float: left; width:38%;}
.grade_list_area .grade_list .star_grade {float:left; padding-top:.1rem;}
.grade_list_area .grade_list .star_grade span{display: inline-block; width:1.2rem; height: 1.2rem; background: url("../../images/sub/grade_star_small2.png") no-repeat; background-size: 100%;}
.grade_list_area .grade_list .star_grade span.on{background: url("../../images/sub/grade_star_small2_on.png") no-repeat;  background-size: 100%;}
.grade_list_area .no_items{padding-top:35%; transform: translateY(25%); color: #9c9c9c; text-align: center;}

.star_grade_eval{background-color: #fff;}
.star_grade_eval li{height: 5.7rem; padding:1.2rem; border-bottom: 1px solid #dedede;}
.star_grade_eval li:after{display: block; content:""; clear: both;}
.star_grade_eval li em{float: left; padding-top:.6rem; font-weight: 700; font-size: 1.4rem;}
.star_grade_eval .star_grade{float:left;}
.star_grade_eval .star_grade span:first-of-type{margin-left:1.6rem;}
.star_grade_eval .star_grade span{display: inline-block; width:3.2rem; height: 3.0rem; margin-left:2.5rem; background: url("../../images/sub/grade_star.png") no-repeat; background-size: 100%;}
.star_grade_eval .star_grade span.on{background: url("../../images/sub/grade_star_on.png") no-repeat;  background-size: 100%;}

.visit_request{padding-top:2rem; background-color: #fff;}
.visit_request .link_select{display: block; margin: 0 auto;}
.visit_request .agent_info{border-bottom: 1px solid #dedede;}
.visit_request .agent_info.no_items{padding:.4rem 1.6rem 3.1rem; line-height: 2; color: #6b6b6b;}
.purch_pop{height: 43.8rem;}
.purch_pop .company{color: #1e1e1e; font-weight: 500;}

/*매물상세*/
.offer_main{background-color: #fff;}
.offer_main .offer_mark_area{padding-top:3.2rem; margin:0 .4rem 2.8rem;}
.offer_main .offer_mark{width: 100%; text-align: right}
.offer_main .offer_mark:after{display: block; content:""; clear: both;}
.offer_main .offer_mark dl{display: inline-block;  padding:0 .7rem 0 1.6rem; line-height: 1.4; border-left:1px solid #e6e6e6;}
.offer_main .offer_mark dl:first-of-type {border-left: none;}
.offer_main .offer_mark .offer_ico{vertical-align: .2rem; }
.offer_main .offer_mark dt{font-size:1.2rem; font-weight: 500; color:#9c9c9c;}
.offer_main .offer_mark dl:first-of-type dd{font-size: 1.9rem;}
.offer_main .offer_mark dd{font-size: 1.6rem; font-weight:700; color: #1e1e1e;}
.offer_main .offer_mark dd .sub{font-size: 1.2rem;}
.offer_main .offer_mark .offer_ico{margin-left: 0;}
.offer_info{padding-top: 3.4rem; background-color: #fff;}
.offer_info .info_head{margin:0 1.2rem 1.1rem; font-size: 1.4rem;}
.offer_info .info_head .tit{font-size: 1.4rem;}
.offer_info .info_head .build_type{margin-right: 1.2rem; font-weight: 700;}
.offer_info .explain_area{padding:1rem; line-height: 2; border:1px solid #dedede; border-radius: .5rem;}
.offer_info .mark_ico .detail i{height:2.6rem; margin-left: 0; line-height: 1.3; font-weight:500; font-size: 1.5rem; vertical-align: 0;}
.list_tb li .detail .desc{font-size: 1.1rem;}
.offer_main .amt_control{position: relative; width:96%; min-height: 6.3rem; margin:0 auto; line-height: 4.4; border:1px solid #dedede; border-radius: .5rem; background-color:#fff;}
.offer_main .amt_control dt:after{display: block; content:""; position: absolute; top:0; right:.5rem; width: .1rem; height: 6.1rem; background-color: #dedede; background-size: 100%;}
.offer_main .amt_control dt{position: absolute; top:0; left:.8rem; width: 6.8rem; font-size: 1.4rem; color: #ff6161;}
.offer_main .amt_control dd{float: left; margin-left: 1rem; line-height: 4.6; font-weight: 700; font-size: 1.3rem;}
.offer_main .amt_control dd:first-of-type{margin-left: 8.2rem;}
.offer_info .swiper_box .swiper_menu{border:1px solid #dedede; border-top-left-radius: .5rem; border-top-right-radius: .5rem;}
.favor_cover{position: absolute; top:4.8rem;}
.offer_info .swiper_box .items_list li{border-left:1px solid #dedede; border-right:1px solid #dedede;}
.offer_info .area_more{height: 5.8rem; border:none;}
.offer_info .area_more .inner{height: 5.7rem; border: 1px solid #dedede; border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem; border-top:none;}
.offer_info .all_offer .no_cont_date{border-left:1px solid #dedede; border-right: 1px solid #dedede;}
.favor_cover .deal_complete{position: absolute; top:7%; left:50%; width:68%; margin-left: -34%; padding:1rem 0 1rem; line-height: 1.4; font-size: 1.6rem; border-radius: 5rem; background-color: #fff; text-align: center;}

.locate_box {border:1px solid #dedede;border-radius: .5rem;;}
.locate_box .locate_header{padding:0 1.2rem; height: 5.7rem; line-height: 3.8; border-bottom: 1px solid #dedede;}
.locate_box .map{position: relative; border-bottom: 1px solid #dedede;}
.locate_box .map .ico_area{position: absolute; top:7rem; left:15rem; width:5rem; height:5rem; line-height: 4.4; font-size: 1.2rem; color: #fff; background:url("../../images/sub/ico_map_location.png") no-repeat; background-size: 100%; text-align: center;}
.locate_box .map_btn_area{height: 5.7rem;}
.locate_box .map_btn_area .map_btn{position: relative; float: left; width:50%; line-height: 4.6; font-size: 1.3rem; font-weight: 700; color: #1e1e1e; text-align: center;}
.locate_box .map_btn_area .map_btn+ .map_btn:before{display: inline-block; content:""; position: absolute; top:1.8rem; left:0; width:.1rem; height: 1.8rem; background-color: #dedede;}
.visit_req_btn_area{width:100%; background-color: #0ec4bf; text-align: center;}
.visit_req_btn_area .btn_how_to_area{float: left; width:45%; line-height: 4.7rem; padding-left:1.2rem; text-align: left; background-color: #0ec4bf;}
.visit_req_btn_area .btn_how_to{height: 2.8rem; padding:.2rem 1.3rem; font-weight: 700; font-size: 1.2rem; color: #fff; border:1px solid #fff; border-radius: 5rem;}
.visit_req_btn_area .btn_favor{position: relative; float: left; width:55%;  background-color: #0ec4bf;}
.visit_req_btn_area .btn_favor .btn_wrap{float: left;  width:43%;  margin-left:7%; line-height: 3.6;  background-color: #0ec4bf;}
.visit_req_btn_area .btn_favor .btn{position: relative; display: inline-block; font-weight: 700; font-size: 1.4rem; color: #fff;}
.visit_req_btn_area .btn_favor .btn:after,.visit_req_btn_area .btn_favor .pick:after{display: inline-block; content:""; position: absolute; top:-.2rem; left:-2.2rem; width:1.8rem; height:2.4rem; background-image: url("../../images/sub/ico_btn_locate.png"); background-repeat: no-repeat; background-size: 100%;}
.visit_req_btn_area .btn_favor .pick:after{top:0rem; width:1.9rem; background-image: url("../../images/sub/ico_btn_favor.png"); background-size: 100%;}
.visit_req_btn_area .btn_favor:before{display: inline-block; content:""; position: absolute; top:1.9rem; left:48%; width:.2rem; height:1.7rem; background-color: #fff;}
.visit_req_btn_area .btn_favor .btn.on:after{background-image: url("../../images/sub/ico_btn_locate_on.png");}
.visit_req_btn_area .btn_favor .pick.on:after,.visit_req_btn_area .agent_visit_req_btn .btn_favor .pick.on:after{background-image: url("../../images/sub/ico_btn_favor_on.png");}
.visit_req_btn_area .agent_visit_req_btn .btn_favor{width:100%;}
.visit_req_btn_area .agent_visit_req_btn .btn_favor:before{display: none;}
.visit_req_btn_area .agent_visit_req_btn .btn_favor .pick{width:auto; margin-left: 1.5rem;}
.visit_req_btn_area .agent_visit_req_btn .btn_favor .pick:after{top:1.3rem; left:-2.5rem;}
/*매수,매도 리스트*/
.request_swiper .tab_list_box{border:none;}
.request_swiper .swiper_menu{position: fixed; top:0; left:0; width:100%; border-bottom: none; z-index: 100;}
.request_swiper .swiper_menu li{height:4.8rem; background-color:#0ec4bf;}
.request_swiper .swiper_menu li.active:after{background-color: #fff;}
.request_swiper .swiper_menu li a{color: #50d8d4}
.request_swiper .swiper_menu li.active a{color: #fff;}
.request_swiper .swiper_menu li+li:before{background: none;}
.no_items .sub_desc{margin:.6rem 0; color: #3c3c3c;}
.my_req_cont .no_items{padding-top: 10%; text-align: center; color: #9c9c9c;}
.my_req_cont .no_items .link_style{margin-bottom:1.8rem;}
.my_req_cont .no_items.type{padding-top:20%;}
.my_req_cont .no_items.type .link_style{margin:1.6rem 0;}
.my_req_cont .info_area{width:96%; margin:0 auto; background-color: #fff; border:1px solid #dedede; border-radius: 0; word-break: keep-all;}
.my_req_cont .info_area .header{position: relative; height: 5.7rem; line-height: 4; padding:0 1.2rem;border:none; border-bottom: 1px solid #dedede; background-color: #f9fcfd;}
.my_req_cont .info_area .header .tit{font-weight: 700; font-size: 1.4rem; color: #3c3c3c; }
.my_req_cont .info_area .header .close{position: absolute; top:34%; right:1.2rem; width:1.5rem; height:1.5rem; background:url("../../images/common/close.png") no-repeat; background-size: 100%;}
.my_req_cont .info_area .info_cont{border:none;}

/*계약관리*/
.content_header{line-height: 2; padding:.6rem 1.2rem .6rem; background-color:#f9fcfd; border-bottom: 1px solid #dedede;}
.content_header .tit{font-weight: 700; font-size: 1.6rem;}
.contract_cont{display: table; width:100%;}
.contract_cont .row{display: table-row; height: 5.7rem; background-color: #fff;}
.contract_cont .col{display: table-cell; width:82%; min-height: 5.7rem; line-height: 4; padding:0 1.2rem; border-bottom:1px solid #dedede;}
.contract_cont .th.col{width:19%; padding:0 .2rem; text-align: right;}
.contract_cont .deal_type_area .act_btn+label{width:24%; min-width: 6.5rem; margin-left: 0;}
.contract_cont .input_amt_area{display: inline-block; width:87.2%; height: 3.8rem; margin:0 .2rem; padding:0 .4rem; border:1px solid #dedede; border-radius: .5rem; vertical-align: -1.1rem;}
.contract_cont .input_amt{width:100%; height:90%; border:none; vertical-align: 1.1rem;  text-align: right;}
.contract_cont .content_info{width:100%}
.contract_cont .cont.col{line-height: 2; padding:1.2rem;}
/*알림*/
.alarm {position: relative; padding-top:.4rem;}
.alarm .content_box .cont{line-height: 1.6;}
.alarm .alarm_header{margin-bottom:.8rem;}
.alarm .alarm_header .icon_type1{vertical-align: .2rem;}
.alarm .alarm_date{margin-left: .6rem; font-size: 1.3rem; font-weight: 500; color: #646464;}
.alarm  .alarm_cont{word-break: keep-all;}
.alarm .no_inner{ transform: translateY(40%);}
.alarm_history{padding-top:0;}
.alarm_history .header .alarm_date{top:.2rem;}
.alarm_history .cont{border-bottom: none;}
.alarm .alarm_login{padding-bottom:calc(100% - 7rem); -webkit-padding-bottom:calc(100% - 7rem); -moz-padding-bottom:calc(100% - 7rem); height: auto;}
.alarm .alarm_login .inner{padding-top:calc(50% - 5rem); transform: translateY(26%); text-align: center;}
.alarm .alarm_login .link{display:block; width:36%; margin:1rem auto; padding:.8rem 0; font-size: 1.1rem; font-weight: 700; color: #fff; border-radius:3rem; background-color: #ff6161;}
.alarm .custom_tel{position: fixed; bottom:6.5rem; left:50%; color: #646464; transform: translateX(-50%);}

.section_wrap{position: relative; min-height: 40%;}
.section_wrap .slide_line{position: absolute; bottom:0; left:0; display: block; width:100%; height:2.2rem; padding-top:.8rem; z-index: 25;}
/*매수/매도 중개현황*/
.req_resent{padding-top:1.2rem;}
.present_sec{position: relative; display: block; width: 96%; margin:0 auto 1.2rem; background-color:#fff;}
.present_sec .content_area .content_box .cont:first-of-type{border:1px solid #dedede;  border-top-left-radius: .5rem; border-top-right-radius: .5rem;}
.present_sec .content_area .content_box .row{border-left: 1px solid #dedede; border-right:1px solid #dedede;}
.present_sec .content_area .content_box .row.bottom_area{ border-bottom-left-radius: .5rem; border-bottom-right-radius: .5rem;}
.req_resent .content_area .right_area.btn{top:.9rem; min-width: 8.6rem;}
.req_resent .my_present .purchase_manage .btn_type1{width:10rem;}
.present_sec .content_area .content_box .btn_area{padding-top:.8rem;}
.present_sec .content_area .content_box .bottom_area{background-color: #f9fcfd;}
.req_resent .present_cont .info_box li{color: #464646;}
.present_cont .swiper_box{border-top:1px solid #dedede;}
.present_cont .swiper_box .swiper_menu li{width: 33.3%;}
.present_cont .state{text-align: center;}
.present_cont .state dl:first-of-type{margin-left: 0;}
.present_cont .state dl{float: left; width:20%;}
.present_cont.mysale_present .state dl:nth-child(3),.present_cont.mysale_present .state dl:nth-child(4){width:30%;}
.present_cont .state dd{font-size: 1.6rem; font-weight: 700; color: #378cff;}
.my_present{position: relative; background-color:#fff;}
.my_present .present_manage{width:92%; margin:0 auto; padding:2.5rem 0 3rem;}
.my_present .present_manage.no_items li{height: auto;}
.present_manage li{position: relative; height: 8.4rem; /*margin-top:3.1rem;*/}
.present_manage li:first-child{margin-top:0;}
.present_manage li:before{display: block; content:""; position: absolute; top:3.8rem; left:1.5rem; width:.6rem; height: 7.5rem; background-color: #e6e6e6;}
.present_manage li:last-child:before{background: none;}
.present_manage li .head{position: absolute; top:0; left:0; width:3.6rem; height:3.6rem; line-height: 2.2; font-size: 1.6rem; font-weight: 700; color: #fff; background-color: #f7941d; border-radius: 5rem; text-align: center;} 
.present_manage .content_inner{padding-top:.5rem;}
.present_manage .left{float:left;margin-left: 4.2rem;}
.present_manage .right{float:right; text-align: right;}
.present_manage .build_address{position: relative; font-weight: 700; color: #378cff;}
.present_manage .build_address:after{display: block; content:""; position: absolute; top:.4rem; right:-1.2rem; width:.7rem; height:1.2rem; background: url("../../images/common/arr_link.png") no-repeat; background-size: 100%;}
.present_manage li:first-child .build_address{color: #1e1e1e;}
.present_manage li:first-child .build_address:after{background:none;}
.present_manage .no_consult .head{background-color: #acacac;}
.present_manage .no_consult .state{color: #acacac;}
.present_manage .consult_finish .head{background-color: #378cff;}
.present_manage .consult_finish .state{color: #378cff;}
.present_manage .visit_finish .head{background-color: #0ec4bf;}
.present_manage .visit_finish .state{color: #0ec4bf;}
.present_manage .red .head{background-color: #ff6161;}
.present_manage .red .state{color: #ff6161;}
.present_manage .content_area .info_box{border-top:none;}
.present_cont .info_box{border-top:1px solid #dedede;}
.present_cont .info_box.border_t_non{border-top:none;}
.my_present .client_manage{position: relative;}
.my_present .client_manage .content_box .right_area.btn{top:24%;}

/* .my_present .client_register_area{position: absolute; bottom:0; width:100%;} */
.client_register .register_list{margin-top:2rem;}
.client_register .register_list li{padding:1.2rem; width:100%; border-top:1px solid #dedede; background-color: #fff;}
.client_register .register_list .manager .btn{position: relative; min-width:27%; color: #646464;}
.client_register .register_list .manager .btn.bg_type:before{display: inline-block; content:""; margin-right: .4rem; width:1.2rem; height: .8rem; background-repeat: no-repeat; background-size: 100%;;}
.client_register .register_list .manager .btn.on{color: #fff; background-color: #92d050;}
.client_register .register_list .manager .btn.on:before{background-image: url("../../images/common/bg_btn_check.png");}
.client_register .register_list .manager .btn.off{color: #9c9c9c;}
.client_register .register_list .manager .btn.off::before{background-image: url("../../images/common/bg_bottom_arr.png");}
.register_list .input_form{display: inline-block; width:64.8%; height: 3.8rem; margin-left: 2.2rem; border:1px solid #dedede; border-radius: .5rem; vertical-align: .2rem;}
.register_list .input_form.phone{margin-left: 0;}
.register_list .input{width:100%; height: 100%; padding:0 1.2rem; font-size: 1.4rem; color: #3c3c3c; border:none; border-radius: .5rem; background-color: #fff;}
.register_list .input.off{color: #9c9c9c;}
.register_list .phone .input{margin-left: 0;}
.register_list .phone .hipen{margin:.7rem; vertical-align: .4rem;}
.my_present .purchase_manage{padding-bottom: 20rem;}
.my_present .purchase_manage .header{font-weight: 500; color: #3c3c3c;}
.my_present .purchase_manage .info_box{border-top:none;}
.my_present .purchase_manage .visit_list li{color: #3c3c3c;}
.my_present .purchase_manage .right_area.type {width:20.8rem;}
.my_present .purchase_manage .header .right_area.type {top:-.2rem;}
.my_present .purchase_manage .info_list li{color: #373737; line-height: 2;}
.my_present.sale_present .no_cont_date{border-bottom: 1px solid #dedede; padding:12% 0;}

.purch_info{height: 34.4rem;}
.purch_info .header i{margin-left:0;}
.purch_info.sale{height: 40rem;}
.purch_info .content_box .row:last-of-type,.phone_pop .content_box li:last-of-type{border-bottom: none;}
.purch_info .content_area .content_box .right_area.btn{top:1rem;}
.purch_info .purch_btn{width:14.6rem; right:.3rem;}
.purch_info .purch_btn .inner{position: relative;}
.purch_info .purch_btn .btn_type1{display: inline-block; min-width:7rem}
.purch_info .content_area .compay{display: inline-block; width:15.8rem; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden; vertical-align: -2.2rem}
.purch_info.sale .client_visit .btn{min-width: 5.2rem; color: #3c3c3c; vertical-align: .1rem; background-color: #fff;}
.purch_info.sale .client_visit .btn.off{color: #9c9c9c;background-color: #fafafa;}
.purch_info.sale .client_visit .visit_set_row{background-color: #fafafa;}
.purch_info.sale .client_visit .list{border-top:1px solid #dedede;}
.purch_info.sale .client_visit .list li{padding:1.5rem 1.2rem;}
.phone_pop{height:34.1rem;}
.phone_pop .phone_num+label{font-weight: 700; font-size:1.3rem; color: #1e1e1e;}
.phone_pop .content_box .list li{line-height: 2.2;}
.sale_present .present_manage{width:100%; padding-top:0;}
.sale_present .present_manage .left{margin-left: 0;}
.sale_present .present_manage .content_box .row.bottom_area .right_area.btn{top:.8rem;}
.sale_present .content_area{margin:.5rem 0;}
.sale_present .header .tit{font-weight: 700; color: #1e1e1e;}
.sale_present .offer_desc{line-height: 2; padding:1.2rem; border-top:1px solid #dedede; border-bottom: 1px solid #dedede; background-color: #fffbfb;}
.sale_present .offer_desc li{height: auto; text-indent: -1.4rem; padding-left: 1.4rem; word-break: keep-all;}
.sale_present .offer_desc li:before{display: none;}
.sale_present .right_area.btn_width{width:40%;}
.sale_present .right_area .btn_inner{position: relative;}
.sale_present .content_box .row.bottom_area .right_area.txt{top:.1rem;}
.offer_req_inner{position: relative;/* height: calc(100vh - 5rem);*/}
.offer_req_inner .request_offer .items_list{padding-bottom: 10rem;}
.offer_req_inner .offer_req_btn{position: absolute; bottom:0;}
/*더보기*/
.more_sec{background-color: #fff;}
.more_sec .more_intro{position: relative; padding:3rem 5rem 3rem 2.4rem;}
.more_sec .more_intro .tit{font-size: 2.1rem; color: #1e1e1e;}
.more_sec .more_intro .email{color: #646464;}
.more_sec .more_intro:after{display: inline-block; content:""; position: absolute; top:3.8rem; right:2.5rem;; width:2.6rem; height: 2.6rem; background: url("../../images/sub/bg_setting.png") no-repeat; background-size: 100%;}
.more_sec.agent .agent_img{top:2.7rem;}
.more_sec.agent .agent_info{margin-left: 6.6rem;}
.more_sec.agent .custom_tel{padding-top: 4.2rem;}

.point_box{width: 96%; margin:0 auto 3rem;}
.point_box .content{padding: 2.4rem 2rem 2.4rem 1.2rem; font-size: 1.4rem; border:1px solid #dedede; border-top-left-radius:.5rem; border-top-right-radius: .5rem; border-bottom: 1px solid #dedede;}
.point_box .tit{float: left; font-weight: 700; font-size: 1.6rem; color: #ff6161;}
.point_box .point{float: right; font-size: 1.6rem;}
.point_box .point .amount{font-weight: 700; font-size: 1.6rem; color: #378cff;}
.point_box .link_box{border:1px solid #dedede; border-bottom-left-radius:.5rem; border-bottom-right-radius: .5rem; border-top: none;}
.point_box .link_box .box_inner{background-color: #fafafa;  border-bottom-left-radius:.5rem; border-bottom-right-radius: .5rem;}
.point_box .link_box a{float: left; position: relative; width:33.3%; padding:1.5rem 1rem; font-size: 1.4rem; font-weight: 700; color:#3c3c3c; text-align: center;}
.point_box .link_box a:first-of-type:before{content:"";}
.point_box .link_box a:before{display: inline-block; content:"|"; position: absolute; top:1.4rem; left:0; width:.1rem; height:1.2rem; color: #3c3c3c;}

.notice .header{position: relative; line-height: 3.2; background-color: #f9fcff; border:1px solid #dedede; border-top-right-radius: .5rem; border-top-left-radius: .5rem;}
.notice .header .tit{height: 5rem; padding:0 1.2rem; font-weight: 700; font-size: 1.6rem; color: #1e1e1e;}
.notice .header .link{position: absolute; top:5%; right:1.2rem; font-weight: 700;}
.notice .header .link:after{top:1.5rem; }
.notice .notice_list{border:1px solid #dedede; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem; border-top:none;}
.notice .notice_list li:first-child{border-top: none;}
.notice .notice_list li{height: 5rem; padding:0 1.2rem; line-height: 3.6; border-top:1px solid #dedede;}
.notice .notice_list li a{position: relative; width:100%; height: 100%;}
.notice .notice_list li a:after{display: block; content:""; clear: both;}
.notice .notice_list li strong{display: inline-block; max-width:78%; font-weight: 500; color: #3c3c3c;  text-overflow: ellipsis; white-space: nowrap; word-wrap: normal; overflow: hidden;}
.notice .notice_list li .icon_type1{line-height: 1rem;}
.notice .notice_list li .left{float: left; width:80%;}
.notice .notice_list li .date{float: right; width:20%; font-weight: 500; color: #9c9c9c;}
.more_sec .share_area{position: relative; line-height: 3.6; padding:0 .8rem; border-top:1px solid #dedede; border-bottom: 1px solid #dedede;}
.more_sec .share_area>a{float: left; margin:0 .3rem; color: #9c9c9c;}
.share_area .ico_share{position: absolute; top:-.2rem; right:.8rem}
.share_area .ico_share a{width:3.5rem; height:3.5rem; margin:0 .1rem}
.more_sec .custom_tel{padding:2.7rem 0 1rem; color: #646464; text-align: center;}
.req_manage_sec .req_manage{margin-bottom: .5rem;}
.req_manage_sec .req_manage .header .tit{color: #ff6161; font-weight: 700;}
.req_manage_sec .req_manage .header .tit.blue{color: #378cff;}
.req_manage_sec .req_manage p.offer_type,.req_manage_sec .req_manage p.offer_type em{color: #3c3c3c; font-weight: 500;}
/*포인트*/
.point_sec .point_box{margin:1.2rem auto;}
.point_sec .point_box .box_inner{height: 5.7rem;; padding: 0 1.3rem; line-height: 3.6; font-size: 1.6rem; border:1px solid #dedede; border-radius: .5rem; background-color:#fff;}
.point_sec .point_box .tit{color: #3c3c3c;}
.point_sec .point_box .point{padding-top:.2rem; font-size: 1.4rem; font-weight: 700;}
.point_sec .point_area .tit{color: #1e1e1e; font-weight: 700;}
.point_sec .point_area:last-of-type .cont{border-bottom:1px solid #dedede;}
.point_sec .point_area .cont{position: relative; border-bottom:none;} 
.point_sec .point_area .date{position: absolute; top:1.2rem; right: 1.2rem; font-size: 1.3rem; color: #646464;}
.point_sec .point_area .no_inner{transform: translateY(0%);}
/*중개수수료 결제*/
.fee_sec .agent_select .tit{font-weight: 700; color: #3c3c3c;}
.fee_sec .agent_select .header{border-top: none;}
.fee_sec .agent_select:first-of-type{border-top: 1px solid #dedede;}
.fee_sec .agent_select .cont .right_area{top:1.4rem;}
.fee_sec .agent_select .cont .btn{color: #3c3c3c;}
.fee_sec .agent_select .cont .btn.check{color: #fff;}
.fee_sec .agent_select .cont .input_amt{display: inline-block; width:16rem; height:3.6rem; margin-right: .4rem; border:1px solid #dedede; border-radius: .5rem;}
.fee_sec .agent_select .cont .input_text{width:100%; height: 100%; text-align: right; background-color: #fafafa; color: #3c3c3c; border:none; border-radius: .5rem;}
.fee_sec .agent_select .cont .control_btn_area{display: inline-block; margin-left: .2rem;}
.agent_select .no_items{padding-top:24%; line-height:2; text-align: center; color: #9c9c9c;}
/*설정*/
.member_set_list{display: table; width:100%;border-bottom:1px solid #dedede; background-color: #fff;}
.member_set_list li{display: table-row; position: relative; height:5.7rem; line-height: 4;}
.member_set_list li:first-child,.member_set_list li:first-child .col{border-top:none;}
.member_set_list li .col{display: table-cell; padding:0 1.2rem; font-size: 1.4rem; border-top:1px solid #dedede;}
.member_set_list li .member_tit{width:24%; color: #9c9c9c;}
.member_set_list li .member_cont{width:77%; position: relative;}
.member_set_list li .member_cont .btn_setting{position: absolute; top:16%; right:1.5rem; color: #646464;}
.member_set_list li .member_pw{width:50%; font-size: 2.8rem; color: #3c3c3c; border:none; background: none;}
.member_set_list li .pw_area{position: absolute; top:-.5rem; left:1.2rem;}
.member_set .set_btn.fixed{bottom:1.5rem;}
.member_set .set_btn .inner{width:96%; margin:0 auto;}
.member_set .set_btn .btn{float: left; color: #646464;}
.member_set .set_btn .btn+.btn{float: right;}
/*공지사항,1대1문의*/
.custom_sec li{position: relative; font-size: 1.4rem; line-height: 1.8; border-bottom: 1px solid #dedede;} 
.custom_sec li a:after{display: inline-block; content:""; position: absolute; top:2.2rem; right:1rem; width:.8rem; height:1.8rem; background-repeat:no-repeat; background-size: 100%;}
.custom_sec li a{display: block; padding:1.2rem 1rem; background-color: #fff;}
.custom_sec li .date{font-size: 1.3rem; color: #646464;}
.custom_sec .tit{font-size: 1.4rem; color: #3c3c3c;}
.custom_sec .notice_list a:after{background-image:url("../../images/sub/bg_arr.png");} 
.custom_sec .notice_list .ico{vertical-align: .3rem;}
.custom_sec .list li a:after{top:3.2rem; width:1.2rem; height:.7rem; background-image:url("../../images/sub/bg_down.png");}
.custom_sec .list li a.on:after{background-image:url("../../images/sub/bg_up.png");}
.custom_sec .list li .ico{min-width: 6rem;}
.custom_sec .list li .cont{padding:1rem; line-height: 1.8; border-top:1px solid #dedede; background-color: #fff;}
.custom_sec .list li .reply_cont_head{position: relative; line-height: 4; height: 5.7rem; padding:0 1.2rem; background-color: #fafafa; border-top:1px solid #dedede;}
.custom_sec .list li .reply_cont_head .date{position: absolute; top:.3rem; right:1.2rem; color:#646464;}
.custom_sec .list li a.on{background-color: #f9fcfd;}
.qna_register .tit_area{border-bottom: 1px solid #dedede; background-color: #fff;}
.custom_sec.memo li a{color: #3c3c3c;}
.custom_sec.memo li .date{color: #646464;}
/*나의매수/나의매도 요청내역*/
.request_list_header .swiper_menu li a{height: 4.8rem;}
.request_list_header .swiper_menu li:after{position: absolute; bottom:0; left:21%; width:54%;}
.request_list .content_area:first-of-type{margin-top:0;}
.request_list .content_area:first-of-type .header{border-top: none;}
.request_list .content_area .link_style{margin-left: .6rem;}
.request_list .content_area .link_style:after{top:2rem;}
.request_list .content_area .tel_link:after{top:.6rem;}
.request_list .content_area .ico{vertical-align: 0;}
.request_list .content_area{margin-top:.5rem;}
.request_list .content_area.mar_type{margin:0;}
.request_list .content_area .date{padding-top: .2rem;}
.request_list .no_inner{transform: translateY(10%);}
.request_list .content_box .row.bottom_area .visit_chg{top:0;}
.request_list .content_box .cont_close{width:1.8rem; height: 1.8rem; margin-left: 1.4rem; vertical-align: -.4rem; background: url("../../images/sub/cont_close.png") no-repeat; background-size: 100%;}

.request_history .rent_type{font-weight: 700;}
.request_history .content_area .header .tit{color: #1e1e1e;}
.request_history .content_box .offer_type{font-weight: 500; color: #3c3c3c;}
.request_history .agent_visit_req .content_area:nth-of-type(2){margin-top:0;}
.request_history .agent_visit_req .content_area .req_num{font-size: 1.4rem; font-weight: 700;}
.request_history .agent_visit_req .area_more{border-left:none; border-right: none;}
.request_history .request_list .content_area .link_style:after{top:.5rem;}
.request_list .content_area .link_tel:after{top:.5rem;}
.request_history .agent_visit_req{margin-top:5px; margin-bottom: 10rem}
.request_history .request_list .agent_visit_req .content_area:first-of-type .header{border-top:1px solid #dedede;}
.agent_visit_req .content_area  .state{color: #ff6161;}
.agent_visit_req .content_area .consult_finish{color: #378cff;}
.agent_visit_req .content_area .visit_finish{color: #0ec4bf;}

.my_purchase{padding-top:.4rem;}
.visit_pop{height: 33%; background-color:#fff; overflow-y: hidden;}
.visit_pop .content_area .header{font-size: 1.6rem;}
.visit_pop .link_select{margin:0 .2rem;}
.visit_pop .btn{height: 3.8rem; vertical-align: .1rem}
.visit_pop .info_box{padding:1.4rem 1.2rem 4rem; border-bottom: none;}
/*일정관리*/
.schedule_box .tab_list_box{height: 5.7rem; border:none;}
.schedule_box .swiper_menu li.active a{color: #1e1e1e;}
.schedule_box .swiper_menu li.active:after{background-color: #1e1e1e;}
.schedule_box .custom_sec .sub_txt{color: #3c3c3c;}
.schedule_box .content_box .bottom_area{border-bottom: none;}
.schedule_box .content_box .row.bottom_area .btn{top:.8rem; color: #3c3c3c;}
.schedule_box .swiper-wrapper{height: 80% !important;}
.schedule_box .custom_sec .no_date .no_inner{padding-top:50%; transform: none;}
/*현장 방문시간 설정*/
.set_visit_area .content_box .row{line-height: normal; padding:.8rem 1.2rem;}
.set_visit_area .link_area{display: inline-block; width:70%;}
.set_visit_area .link_area .link_select{width:42%;}
.set_visit_area .link_select:first-of-type{margin-left: .4rem;}
.set_visit_area .content_area .row{min-height: 5.7rem; height: auto;}
/*오픈 이벤트 추천확인*/
.sub_container .ev_result .intro{margin:6.2rem 0 8rem;}
.ev_result .result_box{line-height: 2; padding:2.6rem 0; font-size: 1.5rem; font-weight: 700; text-align: center; border:1px solid #dedede; border-top-left-radius: .5rem; border-top-right-radius: .5rem;}
.ev_result .info_area .info_cont{height: 13rem; display: flex; align-items: center; justify-content:  center; flex-direction: column;}
.ev_result .login_area{font-size: 1.6rem; text-align: center;}
.ev_result .login_area .login_btn{width:96%; height: 5.7rem; margin:1.4em 0 6rem; font-size: 1.4rem; background-color: #ff6161; color: #fff; line-height: 3.8; border-radius: .5rem;}
.ev_result .link_area{text-align: center;}
.ev_result .link_area .link_style{font-size: 1.6rem;}
.ev_result .link_area .link_style:after{top:.6rem;}

.pop_push .intro .logo{width:14.9rem; margin:4.1rem auto .9rem; font-weight: 500;}
.pop_push .intro .sub_tit{font-size: 1.5rem; font-weight: 500;}
.pop_push .push_cont{padding-top:20%; transform: translateY(0); font-size: 2.3rem; font-weight: 700; text-align: center;}
.pop_push .push_btn_area{position: fixed; width:100%; bottom:8.3rem;}
.pop_push .push_btn{ width:80%; margin:0 auto;}
.pop_push .push_btn .btn{width:9rem; height: 9rem; font-size: 2.4rem; color: #fff; border-radius: 6rem;}
.pop_push .push_btn .push_close{float: left; background-color: #ff6161;}
.pop_push .push_btn .push_show{float: right; background-color:#92d050;}
.pop_push .desc{position: fixed; width:100%; bottom:2.2rem; font-size: 1.4rem; color: #646464; text-align: center;}
.set_date .content_box .row{line-height: 4.4; font-size: 1.3rem;}
.set_date .content_area .header .tit{font-weight: 500;}
.set_date .link_area a{height: 5.7rem; line-height: 4; color: #3c3c3c;}
.other_client .content_area .right_area.btn{top:.8rem; color: #646464;}
.offer_notify .content_area .header .tit,.offer_notify .content_area .checkbox+label em{color: #3c3c3c; font-weight: 500;}
.offer_pic .swiper-container{ width: 100%; height: 100%; position: fixed; top:0; left:0; right:0; bottom:0;}
.pic_row_wrap .offer_pic .swiper-container{position: absolute;}
.offer_pic .swiper-slide{ background-size: cover;}
.offer_pic .pagination1{position: fixed; left:0; bottom:4rem; font-size: 1.6rem; font-weight: 700; color: #fff; background-color: transparent; border-radius: 0; text-align: center; z-index:20;}
.offer_pic .offer_row{margin-top:50%;}
.offer_pic .offer_row .swiper-container{height: 25rem;}
.pic_row_wrap{background-color: #000; width:100%; height:100%; position: absolute; top:0; left:0; right:0; bottom:0;}

/*매물 중개 현황*/
.present_cont.offer_present .swiper_box .swiper_menu li{width:50%;}
.present_cont.offer_present .state dl{width:20%}
.present_cont.offer_present .state dl:nth-of-type(3),.present_cont.offer_present .state dl:nth-of-type(4){width: 30%;}
.set_alarm .content_box{display: table; width: 100%;}
.set_alarm .content_box .row{display: table-row;}
.set_alarm .content_box .row .col{display: table-cell; width:80%; padding:0 1.2rem; border-bottom: 1px solid #dedede;}  
.set_alarm .content_box .row .col.th{width:20%; text-align: right;}
.set_alarm .content_box .row .btn{color: #646464;}
.set_alarm .content_box .row .filter_scroll_bar{width:60%;}
.set_alarm .content_box .row .right_area.btn{top:.8rem;}
/*오픈추천 이벤트*/
.open_event_box .event_recomm{min-height: 8.4rem; margin-top:1.2rem; padding:3.1rem 1.2rem; background-color: #fff; border:1px solid #dedede; border-top-left-radius: .5rem; border-top-right-radius: .5rem; text-align: right;}
.open_event_box .event_recomm li{font-weight: 700; display: inline-block; width:28%; margin-left: 1rem;}
.open_event_box .event_recomm li:first-child{position: absolute; top:2.6rem; left:-2rem; width:38%; margin-left: 0; font-size: 1.5rem;}
.open_event_box .event_recomm li:first-child .txt_red{font-size: 2rem;}
.open_event_box .event_recomm li:nth-child(2){margin-left:34%;}
.open_event_box .event_state{min-height: 5.7rem; padding:1.7rem 1.2rem; border:1px solid #dedede; border-top: none; border-bottom-right-radius: .5rem; border-bottom-left-radius: .5rem; background-color: #f9fcfd;}
.event_state_area{border-top:1px solid #dedede;;}
.event_state_area .content_area .header .tit{font-weight: 700; color: #1e1e1e;}
.event_state_area .content_area .header .right_area{top:0; font-weight: 500;}
.event_state_area .swiper_box .swiper_menu li{width:25%;}
.event_state_area .table_type .content_box{display: table;width:100%;}
.event_state_area .table_type .row{display: table-row;}
.event_state_area .table_type .col{display: table-cell; width:50%; padding:0 1.2rem; border-bottom: 1px solid #dedede; text-align: right;}
.event_state_area .table_type .col:first-of-type{text-align: left;}
.event_state_area .table_type .col .txt_red.type{font-weight: 700;}
.event_state_area .table_type .col .ev_date{color: #646464;}
.event_state_area .recomm_area .no_inner{transform: translateY(-20%);}
.event_state_area .recomm_area .area_more{height: 5.8rem; border-bottom: none;}
.event_state_area .recomm_area .inner{height: 5.7rem; border-bottom: 1px solid #dedede;}
/*매물위치*/
.locate_area .map_area{height: 76vh;}
.locate_area .map_area .map{overflow: hidden;}
.locate_area .map_area .map_control{top:auto; bottom:4.2rem;}
.locate_area .map_area .view_button{position: absolute; left:1.2rem; bottom:4rem;}
.locate_area .map_area .view_button .btn{color:#3c3c3c;}
.locate_area .locate_bottom_area{height:7.7rem; padding:1.4rem 1.2rem; background-color: #fff; border-top:1px solid #dedede;}
.locate_area.agent .map_area{height: 66vh;}
.locate_area.agent .locate_bottom_area{height:22vh; padding:0;}
.locate_area.agent .locate_bottom_area .cont{height: 11.6rem; padding:.6rem 1.2rem; border-bottom: none;}
.locate_area.agent .locate_bottom_area strong{font-weight: 700; color: #1e1e1e;}
.locate_area.agent .locate_bottom_area .link_style{margin-left: .8rem;}
