@charset "UTF-8";
.concept_wrap{font-family: "Noto Sans KR", "Apple SD Gothic Neo", Arial, sans-serif;}
.concept_visual{position: relative; z-index: 1;}
.concept_visual .visual{position: relative; text-align: left; background-color: #21e498;}
.concept_visual .visual .tit{width:90%; margin:0 auto; padding-top:1.25rem; line-height: 1.2; color: #fff; font-size: 1.625rem;}
.concept_visual .visual .tit span{display: block;}
.concept_visual strong{font-size: 1.56rem;}
.concept_visual .w_btn{position: absolute; top:24px; right:6.4%; min-width: 6.875rem; min-height: 2.813rem; padding:0 1.238rem; color: #fff; font-weight: 500; font-size: .9125rem; background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/rv_w_btn.png"); background-color: #05716d; background-repeat:no-repeat; background-position:81% 55%; background-size: 13%; border-radius: 10px; font-family: "Noto Sans KR", "Apple SD Gothic Neo", Arial, sans-serif; text-align: left; box-shadow:3px 4px 1px rgba(0,0,0,.2);}
.concept_visual .sch_area{position: relative; width:90%; margin:0 auto; padding:.75rem 0;}
.concept_visual .sch_area:before{display: block; position: absolute; top:38%; left: 4%; width:15px; height: 15px; content:""; background: url("http://img.modetour.com/modeMobile/2019/concepttour/ico_rv_sch.png") no-repeat; background-size: 100%;}
.concept_visual .sch_area legend{position: absolute; left: -9999px; width:1px; height: 1px; font-size: 0; line-height: 0; text-indent: -9999px; overflow: hidden;;}
.concept_visual .sch_area .sch_input{width:100%;  height: 36px; padding:0 34px; color: #111; font-size: .875rem; border:none; border-radius: 50px; background-color: #fff;}
.concept_visual .sch_area .sch_input::placeholder{color: #111; font-weight: 400;  font-size: .93rem;}
.concept_visual .sch_area input:focus{outline: none;}
.concept_visual .sch_area .del{display: block; position: absolute; top:20%; right:1%; width:34px; height: 34px; background: url("http://img.modetour.com/modeMobile/2019/concepttour/sch_del.png") no-repeat 50%; background-size: 40%; z-index: 115;}
.concept_content{padding:15px; background:#f4f0f1;}
.concept_content .sort_list{width:15.13rem; margin: 0 auto;}
.concept_content .sort_list::after{display: block; content: ""; clear: both;}
.concept_content .sort_list li{float: left;}
.concept_content .sort_list li:before{display: inline-block; content: ""; width:1px; height: 17px; margin:0 .5rem; background:#c6c6c6;}
.concept_content .sort_list li:first-child:before{display: none;}
.concept_content .sort_list li a{padding:0px .5rem; color: #666; font-size: .8125rem; vertical-align: 4px;}
.concept_content .sort_list li.on a{color: #fff; font-weight: 500; background: #7e7e7e; border-radius: 30px;}
.review_area .review li{position: relative; margin:10px 0; padding:1rem; background:#fff; border-radius: 10px; box-shadow:4px 18px 30px -10px rgba(0,0,0,0.2);}
.review_area .review li .item_nm{display: block; max-height: 3.375rem; margin-bottom: 8px; color: #111; font-size: 1.125rem; font-weight: bold; word-break: break-all; word-wrap: break-word; text-overflow: clip; overflow: hidden;}
.review_area .review li .item_rv{margin-bottom: 15px; color: #333; font-size: 1rem;}
.review_area .review li .bottom>*{float: left; color: #999; font-size: .875rem; line-height: 16px;}
.review_area .review li .bottom{position: relative; margin-bottom: 5px;}
.review_area .review li .bottom:after{display: block; content: ""; clear: both;}
.review_area .review li .bottom .date{position: relative; padding-right: 8px;}
.review_area .review li .bottom .date:after{display: block; position: absolute; top:2px; right:0; width:1px; height: 14px;  content: ""; background:#999;}
.review_area .review li .bottom .name{padding-left: 8px;}
.review_area .review li .btn_arr{float: right; width:32px; height: 24px; margin-right:1%; background-repeat:no-repeat; background-position:right 35%; background-size: 50%;}
.review_area .review li .btn_arr.close{ background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/arr_close.png");}
.review_area .review li .btn_arr.open{ background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/arr_open.png");}
.review_area .review li .bottom .btn_arr:focus{outline: none;}
.review_area .review li .star{margin-left: 10px;}
.review_area .review li .star span, .rv_write_area .write_content .star span{display: inline-block; width:16px; height:16px; background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/star_off.png"); background-repeat:no-repeat; background-size: 100%;}
.review_area .review li .star span.on, .rv_write_area .write_content .star span.on{background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/star_on.png");}
.review_area .review li .btn_mod{margin-top: -4px; margin-left: 10px; padding:4px 8px; color: #fff; font-weight: 500; font-size: .8125rem; font-family: "Noto Sans KR", "Apple SD Gothic Neo", Arial, sans-serif; background:#f3693f; border-radius: 30px;}
.review_area .review li .rv_detail{display: none; margin-top:15px; padding-bottom:10px; border-top:1px solid #c6c6c6;}
.review_area .review li .rv_detail.open{display: block;}
.review_area .review li .rv_detail .txt_area{padding:18px 0; color: #555; font-size: 1rem; font-weight: 300;}
.review_area .review li .rv_detail .btn{display: block; width:11.75rem; margin:0 auto; line-height: 2.8; font-size: 1rem; font-weight:bold; background:#ececec; border-radius: 30px; border:1px solid #d2d2d2;}
.review_area .review li .rv_detail .btn:after{display: inline-block; content:""; width:8px; height: 14px; margin-left: 5px; background: url("http://img.modetour.com/modeMobile/2019/concepttour/bg_btn.png") no-repeat; background-size: 100%; vertical-align: -1px;}

/*컨셉투어 후기*/
body.fixed_dim{position: fixed; left:0; top:0; width:100%; height: 100%; overflow: hidden;}
.concept_rv_layer{display: none; position: fixed; top:0; left:0; width:100%; height: 100%; background:#fff; z-index: 100; overflow-y:scroll;}
.concept_rv_layer.open{display: block;}
.concept_rv_layer .fix_btn{position: fixed; bottom:0; left: 0; right: 0; z-index: 1;}
.concept_rv_layer .fix_btn .btn{display: inline-block; height:100%; line-height: 2.6; color:#fff; font-size: 1rem; font-weight: bold; background:#7e7e7e; text-align: center;}
.concept_rv_layer .fix_btn .btn.regist{width:100%;}
.concept_rv_layer .fix_btn .btn.del{width:25%; color: #111; background:#ececec;}
.concept_rv_layer .fix_btn .btn.mod{width:75%;}
.rv_write_area .header{position: relative; padding:20px 15px; background:#fff; border-bottom: 1px solid #919191;}
.rv_write_area .header h2{font-size: 1.563rem; font-weight: bold; color:#111;} 
.rv_write_area .header .close{position: absolute; top:30%; right:15px; width:32px; height: 32px; background:url("http://img.modetour.com/modeMobile/2019/concepttour/ico_close.png") no-repeat 50%; background-size: 60%;}
.rv_write_area .write_content{background:#f4f0f1; margin-bottom:40px;}
.rv_write_area .write_content .section{position: relative; padding:20px 15px; border-bottom: 1px solid #c6c6c6;}
.rv_write_area .write_content .section h3{padding:6px 0 14px; font-size: 1.125rem; text-align: center;}
.write_content .section .input_box .input{width:100%; height: 35px; margin:0 auto 10px; padding:0 8px; color: #333; font-size: .875rem; border:none; }
.write_content .section .input_box .input::placeholder{color: #999; font-weight: 300;}
.write_content .section .select-category{position: relative;}
.write_content .section .select-category:before{display: block; position: absolute; top:40%; right:6px; width:12px; height: 6px; content:""; background: url("http://img.modetour.com/modeMobile/2019/concepttour/bg_select.png") no-repeat; background-size: 96%;}
.write_content .section .select-category select{width:100%; height: 35px; padding:0 28px 0 8px; color: #999; font-size: .875rem; font-weight: 300; border:none; background:#fff; overflow: hidden;}
.write_content .section .select-category select.is-change{color: #333; font-weight: 400;}
.write_content .section .select-category select option[disabled] { display: none;} 
.write_content .section .select-category select option{color: #333;}
.write_content .rev_no_area .info li{margin-bottom:14px; padding-left: 10px; text-indent: -10px; font-weight: 300; font-size: .9375rem; word-break: keep-all;}
.write_content .rev_no_area .info li em{font-style: normal; font-weight: 700; text-decoration: underline;}
.write_content .rev_no_area .custom_info:after{display: block; clear: both; content:"";}
.write_content .rev_no_area .custom_info>*{float: left; margin-left: 3%;}
.write_content .rev_no_area .input_box .num{width:38%; border-radius: 0;}
.write_content .rev_no_area .input_box .num::placeholder{line-height: 1.2;}
.write_content .rev_no_area .select_gender{width:28%;}
.write_content .rev_no_area .select_nation{width:28%;}
.write_content .rev_no_area .rev_no_btn{position: relative; width:7.75rem; margin:5px 0 10px; line-height: 2; color: #fff; font-size: .875rem; background-color: #7e7e7e; border-radius: 30px;}
.write_content .rev_no_area .rev_no_btn:after{display: inline-block; content:""; width:10px; height: 8px; margin-left: 4px; background-image: url("http://img.modetour.com/modeMobile/2019/concepttour/ico_rev_no.png"); background-repeat: no-repeat; background-size: 100%;}
.write_content .rev_no_area .rev_no_btn.on:after{background-image: url("http://img.modetour.com/modeMobile/2019/concepttour/ico_rev_no_on.png");}
.write_content .rev_no_area .rev_no_inq{display: none;}
.write_content .rev_no_area .rev_no_inq.open{display: block;}
.write_content .rev_no_area .rev_no_inq .btn{display: block; width:110px; line-height: 2; margin:10px auto 0; color: #333; font-size:1.125rem; font-weight: 700; background:#ececec; border-radius: 30px; border:1px solid #cacaca;}
.write_content .section .star{width:166px; margin:0 auto;}
.write_content .section .star span{width:30px; height:30px; background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/big_star_off.png"); }
.write_content .section .star span.on{background-image:url("http://img.modetour.com/modeMobile/2019/concepttour/big_star_on.png"); }
.write_content .rv_write .txt_area{width:100%; height: 250px; margin-bottom: 10px;}
.write_content .rv_write .desc{color: #919191; font-size: .875rem; font-weight: 300;}

@media only all and (max-width:362px){
    html{font-size: 14px;}
}

/*컨셉투어 추가 */
.write_content .rv_write .txt_area {height:auto;overflow:hidden;}
.simditor .simditor-body {height:250px;overflow:hidden;overflow-y:auto;}
.simditor .simditor-body p {margin-bottom:0;}
.simditor .simditor-body img {max-width:100%;}