@charset "utf-8";

@font-face { 
    font-family:'Spoqa Han Sans'; 
    src:url('../font/Spoqa Han Sans Light.woff') format('woff');
    font-style:normal;       
    font-weight:normal;
}
@font-face { 
    font-family:'Spoqa Han Sans Thin'; 
    src:url('../font/Spoqa Han Sans Thinr.woff') format('woff');
    font-style:normal;       
    font-weight:normal;
}
@font-face { 
    font-family:'Spoqa Han Sans Regular'; 
    src:url('../font/Spoqa Han Sans Regular.woff') format('woff');
    font-style:normal;       
    font-weight:normal;
}
@font-face{
  font-family:'Spoqa Han Sans Bold';
    src:url('../font/Spoqa Han Sans Bold.woff') format('woff');
    font-style:normal;       
    font-weight:normal;      
}