@charset "utf-8";

.loading-backdrop {
    background: RGB(0, 0, 0) !important ;
    opacity: .8 !important ;
}

.agent_img {
    border: 2px solid #eeeeee;
    display: inline-block;
    cursor: pointer;
}
.items_list li.target {
    background-color: #fdf3f4 !important;
}
.items_list li:hover {
    background-color: #f4f8fd !important;
}
.checkbox:checked+label .chk_set {
    background-color: #378cff !important;
}
.checkbox + label .chk_set {
    background-color: #ffffff !important ;
}
/*
.agent_img:after {
    position: absolute;
    display: block;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: radial-gradient(circle at 50% 0,rgba(255, 255, 255,.5),rgba(255, 255, 255, 0));
}
*/
.btn-regist-email {
    float: left;
    width: 222px;
    height: 49px !important;
    font-size: 17px;
    color: #fff;
    background-color: #0070c0;
    margin-left: 20px;
    margin-bottom: 14px;
}

.btn-kakao-login {
    float: left;
    margin-bottom: 14px;
    width: 227px;
    height: 55px !important;
    background: url('../../images/common/kakao_login.png') no-repeat;
    border-radius:5px ;
    text-indent: -9999px;
}
.btn-email-login {
    float: right;
    margin-bottom: 14px;
    width: 227px;
    height: 55px !important;
    background: url('../../images/common/email_login.png') no-repeat;
    border-radius:5px ;
    text-indent: -9999px;
}

.rh-dialog-modal-wrap {
  position: absolute;
  display: flex;
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  z-index: 9999;
}

.rh-dialog-modal-frame {
  position: relative;
  top:0;
  left:0;
  background: #ffffff;
  /* border-radius: 8px; */
  z-index: 9900;
  margin: auto;
  border: 1px solid #BFBFBF;
  box-shadow: 1px 1px 3px #eee;
  /* margin-top:-10px; */
  /* animation: goon 0.8s; */
}

.rh-dialog-modal {
  height: 60px;
  padding: 10px 15px;
  border-bottom: 1px solid #ccc;
  background-color: white;
  line-height: 40px;
}

.rh-dialog-modal.header {
  position: absolute;
  top: 0;
  left: 0;
  border-bottom: 1px solid #ccc;
  background-color: #336699;
  color: #ffffff;
  width: 100%;
  float:left;
  line-height: 40px;
}
.rh-dialog-modal.header div.title {
  float:left;
  height: 40px;
  line-height: 40px
}
.rh-dialog-modal.header div.btnClose {
  float: right;
  font-size: 1.5rem;
  font-weight: 700;
  color: #fff;
  cursor: pointer;
  /* text-shadow: 0 1px 0 #fff; */
  /* opacity: .5; */
}

.rh-dialog-modal.header div.btnClose:active {
  transform: translateY(1px);
}

.rh-dialog-modal.content {
  position: absolute;
  padding: 20px;
  color: #000000;
  line-height: 30px;
  font-weight: 400;
  display: block;
  top: 60px;
  left: 0;
  width: 100%;
  overflow: auto;
  border: 0px;
  text-align: left;
  margin:auto;
}

.rh-dialog-modal.content div {
  padding: 15px;
}
.rh-dialog-modal.footer {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-top: 1px solid #ccc;
  float: right;
  text-align: right;
  color: #000;
}

.rh-dialog-modal.footer button {
  position: relative;
  min-width: 85px;
  height: 40px;
  font-size: 14px;
  border-radius: 5px;
  text-align: center;
  cursor: pointer;
}

.rh-dialog-modal.footer button.ok{
  background-color:#336699;
  color:#fff;
}
.rh-dialog-modal.footer button.cancel{
  background-color:#fff;
  color:#000000;
  border:1px solid #ccc;
}
.rh-dialog-mask {
    position: fixed;
    top: 130px;
    left: 0;
    height: calc(100% - 130px);
    width: 100%;
    background-color:RGBA(0,0,0,.4);
    z-index: 9990;
}
.rh-dialog-mask .rh-dialog-wrap {
    width: 450px;
    padding: 2px;
    border-radius: 3px;
    background:#eeeeee;
    margin: auto;
    margin-top: 40px;
    z-index: 9999;
    border: 1px solid #c5c5c5;
    min-height:650px;
}
.rh-dialog-mask .rh-dialog-title-bar {
    width: 100%;
    height: 40px;
    background: #e9e9e9;
    line-height: 40px;
    /* border-radius: 3px; */
    padding: 3px 15px 3px 10px;
    float:right;
    /* border: 1px solid #cccccc; */
}
.rh-dialog-mask .rh-dialog-title-bar .btnx {
    width: 20px;
    margin: -10px 0 0 0;
    padding: 1px;
    height: 20px;
    float: right;
}

.btnx-close {
    position: absolute;
    width: 18px;
    height: 18px;
    top: 25px;
    right: -7px;
    background-image: url(../images/common/ui-icons_555555_256x240.png);
    background-position: -96px -128px;
    margin-top: -8px;
    margin-left: -8px;
    text-indent: -9999px;
    white-space: nowrap;
    border-radius: 2px;
    background-color: #ffffff;
    border: 1px solid #cccccc;
    padding: 5px;
}
.rh-post-pop {
    width: 620px;
    top: 200px;
    padding: 50px 0 10px 20px;
}

.direction-left { text-align: left !important; }
.direction-center { text-align: center !important; }
.direction-right { text-align: right !important; }

.rh-dialog-modal.footer button:hover{
  background-color:#4797e7;
  color:#fff;
}
.rh-dialog-modal.footer button:active{
  background-color: #4797e7;
  /* box-shadow: 0 3px #666; */
  transform: translateY(1px);
}

/* Safari 4.0 - 8.0 */
@-webkit-keyframes goon {
  from {top: 0px;}
  to {top: 10px;}
}

@keyframes goon {
  from {top: 0px;}
  to {top: 10px;}
}
/*
.rh-valid-error {
  border: 1px solid #ff0000 !important;
  border-color:#ff0000 !important;
  background: #fdea09 !important ;
  color: #ff2200 !important ;
}

.rhValidError {
  border: 1px solid #ff0000 !important;
  border-color:#ff0000 !important;
  background: #fdea09 !important ;
  color: #ff2200 !important ;
}
*/
.rh-move-date {
  width: 130px;
  float: left;
  border: 1px solid #dddddd !important ;
}

.rh-move-date-confirm {
  position: relative;
  float: left;
  line-height: 36px;
  height: 40px;
}

.vdp-datepicker {
  position: relative;
  text-align: left;
  float: left;
}

.dropdown-toggle::after {
  display: none !important ;
  /*
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
  */
}

.rh-marker {
  width: 40px ;
  height: 40px;
  background: #ff5050 ;
  border-radius: 50px ;
  color: #fff ;
  text-align: center ;
  font-weight: bold ;
  line-height: 40px ;
  font-size: 18px ;
  border: 2px solid #ff5050 ;
}

.rh-layer-picture {
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,.8);
    z-index: 180;
  }
  .rh-layer-picture .close {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 32px;
    height: 32px;
    background: url('../../../../images/sub/sp_slide.png') 0 -56px no-repeat;
  }
  .rh-picture-box {
    position: relative;
    margin: 180px auto auto auto;
    width: 1000px;
    height: 580px;
  }

  .fr {
    float: right !important;
  }

  /* v-select style */
  .v-select .open-indicator:before {
    border-color: rgb(60,60,60) !important;
  }
  .v-select .dropdown-toggle {
      border-radius: 0 !important;
      height: 36px !important;
  }
  .v-select.sms .dropdown-toggle {
      border-radius: 0 !important;
      height: 53px !important ;
      border: 0 ;
  }
  .v-select .vs__selected-options {
    padding: 0px 5px !important;
  }
  .dropdown.v-select.login .dropdown-toggle {
      height: 55px;
      border: none;
  }

  .rh-title-text {
    font-size: 24px;
    font-weight: bold;
    text-shadow: -1px 2px 0 rgba(0,0,0,.15);
  }

  .v-select {
    position: relative;
    font-family: inherit;
  }

  .v-select.open .dropdown-toggle {
      border: 1px solid #373737;
  }

  .vs__dropdown-toggle {
    -webkit-appearance: unset;
    -moz-appearance: unset;
    appearance: unset;
    display: flex;
    padding: 0 0 4px;
    background: none;
    border: 1px solid rgba(60,60,60,.26);
    border-radius: 4px;
    white-space: normal;
  }

  .vs__selected-options {
    display: flex;
    flex-basis: 100%;
    flex-grow: 1;
    flex-wrap: wrap;
    padding: 0;
    position: relative;
  }
  .selected-tag {
    font-size: 14px;
  }
  /********************************************************/
  .dropdown-menu {
    border: 1px solid #373737 !important;
    box-shadow: none !important;
    border-radius: 0 !important;
    padding-top:0 !important;
    padding-bottom:0 !important;
  }
  .dropdown-menu li.highlight{
    border-left: 1px solid #e6e6e6 !important;
    border-right: 1px solid #e6e6e6 !important;
  }
  .dropdown-menu li a {
    font-size: 14px;
    font-family: "Noto Sans KR";
  }
  /********************************************************/
  .v-select .open-indicator {
    display: flex;
    align-items: center;
    cursor: pointer;
    pointer-events: all;
    opacity: 1;
  }
  .v-select .open-indicator:before {
      border-color: rgba(60,60,60,.5) !important;
      border-style: solid;
      border-width: 2px 2px 0 0 !important;
      display: inline-block;
      height: 8px !important;
      width: 8px !important;
      vertical-align: text-top;
      transform: rotate(133deg);
      box-sizing: inherit;
  }

.hideHeader {
    display: none;
}

.member_area {
    min-width: 160px !important;
}


.member_area .member a.name {
    padding-right: 25px;
    white-space: nowrap;
}

.cursor-pointer { cursor: pointer !important; }

.w40 { width: 40px !important ; }
.w120 { width: 120px !important ; }
.w160 { width: 160px !important ; }
.w200 { width: 200px !important ; }
.w280 { width: 300px !important ; }
.w300 { width: 300px !important ; }

.lh40 { line-height:40px !important;}
.px25 { padding: 0 25px !important;}

.aw120 { animation: aw120 2.6s; }
.aw300 { animation: aw300 2.6s; }

.bdtop {border-top: 1px solid #e6e6e6 !important; }
.noborder { border: none !important; }
.member_box .member_form .noborder input::after{ border: none !important; }

.infoBtn:after {
    content: "";
    clear: both;
}

.member-input {
    position: relative;
    font-size: 13px;
    border: 1px solid #e6e6e6;
    border-top: none;
    height: 57px;
}
.member-input input {
    width: 100%;
    height: 55px;
    padding: 0 12px;
    font-size: 13px;
    font-family: "Noto Sans KR";
    color: #373737;
    border: none;
}

.member-input input:focus {
    border: 1px solid #373737;
    outline: 0;
    z-index: 1;
}

.member-input .email, .member-input .mobile {
    float:left;
}
.member-input .email span{
    line-height: 55px;
    text-align: center
}
.member-input .addr, .member-input .auth {
    float: right;
}

.member-input .btn_certify {
    position: absolute;
    top: 10px;
    right: 12px;
    width: 90px;
    height: 36px;
    padding: 10px 0;
    line-height: 1.2;
    font-size: 12px;
    color: #fff;
    background-color: #e6e6e6;
    border-radius: 5px;
}

.member-input .btn_certify.on {
    background-color: #378cff;
}

.layer_member .cerify_info {
    padding: 18px 15px;
    text-align: left;
    line-height: 2;
}

.layer_member .cerify_info p{
    font-size: 13px;
}

.popup {
    animation: popup 0.5s;
}

.pop-slide {
    animation: pop-slide 0.6s
}

@keyframes aw120 {
    from { width: 0px;  }
    to { width: 100%;  }
}
@keyframes aw300 {
    from { width: 120px; }
    to { width: 300px; }
}

  /* map search */
  .offer_map .ico_offer_aera {
    position: absolute;
    top: 2px;
    left: 20%;
    height: 36px;
    z-index: 105;
    background-color: #ffffff;
    border-radius: 50px;
    z-index: -9;
    padding-left: 20px;
  }

  /* map search */
  .offer_map .ico_offer_aera.invert{
    background-color: #ff5050 !important;
    color: #ffffff !important;
  }

  .offer_map .ico_offer_aera.invert .address {
      color:#ffffff !important;
      padding-left: 0 !important;
  }


  .search_input_area .auto_complete.active {
    display: block;
  }

  .search_input_area .auto_complete {
    display: none;
    position: absolute;
    left: 30px;
    width: 700px;
    height: 255px;
    overflow-y: auto;
    border: 1px solid #e6e6e6;
    background: #fff;
    box-shadow: 0 10px 10px -5px #d6d6d6;
    text-align: left;
    z-index: 102;
  }

  .search_input_area .auto_complete dd em {
    color: #ff5050;
  }
  .search_input_area .auto_complete div.nodata {
    padding: 8px;
    font-size: 1.2em;
    padding-left: 20px;
    text-align: center;
  }

  .search_input_area .auto_complete::before {
    height: 0px;
  }
  .search_input_area .auto_complete::after {
    height: 255px;
  }

  .ar-dropdown {
    animation-name: arDropdown;
    animation-duration: .8s;
  }

  .myhome .myspace .identify {
    margin-left: 150px;
  }
  .myhome .myspace .agent_img {
    position: absolute;
    top: 95px;
    left: 118px;
    width: 120px;
    height: 120px;
  }

  @keyframes arDropdown {
    from {height: 0px;}
    to {height: 255px;}
  }

  .wrapper .search-cover {
    position: fixed;
    top: 130px;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.7);
    z-index: 130;
  }

  .fadein {
    visibility: visible;
    opacity: 1;
    transition: opacity .3s linear;
  }

  .fadeout {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s .3s, opacity .3s linear;
  }

  .items_list li.target,.items_list li {
    cursor: pointer ;
  }

  .items_list li.target,.items_list li.selected {
    background-color: #e8f4ff;
  }
