@charset "UTF-8";

@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
body, input, textarea, select, button, table {font-family:'돋움',Dotum,AppleGothic,sansserif; font-size:12px; color:#343738; letter-spacing:-1px;}
* {margin:0; padding:0;}
fieldset, img, iframe  {border:0;}
table {border-collapse:collapse; border-spacing:0;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:normal;}
ol, ul {list-style:none;}
a{text-decoration:none;}
.ir_pm {display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {position:relative; z-index:-10; display:block; overflow:hidden;width:100%; height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {position:absolute; overflow:hidden; width:0; height:0; line-height:0; text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.Skipnav {position:fixed;top:-100px;left:0;width:1px;height:1px;display:block;font-size:0;line-height:0;overflow:hidden;}
.Skipnav a:active, .Skipnav a:focus {top:0;}
.color_purple {color:#161140;}
.color_yellow {color:#f4a81b;}

/* intro */
#wrap {width:100%; min-width:978px; font-family:'Nanum Gothic','나눔고딕','돋움',Dotum,AppleGothic,sansserif;} /* 2015.12.08 수정 */
#header {position:relative; width:100%; padding:36px 0; margin:0 auto;}
#header h1.header_logo {position:relative;width:211px; height:50px; margin:0 auto;}
#header h1.header_logo img{position:absolute;top:0;left:0;}

#Containerwrap {width:100%}
#Containerwrap .intro_visual_wrap {position:relative; max-width:1925px; height:558px; margin:0 auto; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/img/img_intro_bizmode_mainvisual.jpg") center center no-repeat;}
#Containerwrap .intro_visual_wrap .intro_visual {width:971px; padding-top:200px; margin:0 auto;}
#Containerwrap .intro_visual_wrap .intro_visual h2 {text-align:center;}
#Containerwrap .intro_visual_wrap .intro_visual ul {overflow:hidden; padding-top:32px;}
#Containerwrap .intro_visual_wrap .intro_visual ul.not_first { margin-top:1px; padding-top:0; }
#Containerwrap .intro_visual_wrap .intro_visual li {float:left; height:99px; border-left:1px solid #b5b5b5;}
#Containerwrap .intro_visual_wrap .intro_visual li:first-child {border-left:0;}

#Containerwrap .intro_content_wrap { width:100%;}
#Containerwrap .intro_content_wrap .intro_content > div {padding:45px 0; margin:0 auto;}
#Containerwrap .intro_content_wrap .intro_content h3 {font-size:25px; text-align:center; font-weight:bold;}
#Containerwrap .intro_content_wrap .intro_content ul {overflow:hidden; width:978px; padding-top:15px; margin:0 auto;} /* 2015.12.08 수정 */
#Containerwrap .intro_content_wrap .intro_content li {float:left; padding-left:11px; text-align:center;} /* 2015.12.08 수정 */
#Containerwrap .intro_content_wrap .intro_content li:first-child {padding-left:0;}
#Containerwrap .intro_content_wrap .intro_content li > a  {display:block; width:316px;}
#Containerwrap .intro_content_wrap .intro_content li > a > span {display:block; padding-top:15px; font-weight:700; font-size:15px; color:#303235;}
#Containerwrap .intro_content_wrap .intro_content > div.intro_theme {background-color:#f3f3f3;}

#footer { clear:both; width:100%; height:75px; background-color:#424040;}
#footer .footer_wrap {overflow:hidden; width:978px; margin:0 auto;}
#footer .footer_wrap ul {overflow:hidden; float:left; padding:15px 0;}
#footer .footer_wrap li {float:left; padding-left:10px;}
#footer .footer_wrap li:first-child {padding-left:0;}
#footer .footer_wrap li > a {display:block ;width:130px; padding:10px 0; font-size:15px; color:#d8d7d5; text-align:center; border:1px solid #646464;}
#footer .footer_wrap p {float:right; padding:15px 0; font-size:17px; font-weight:400;}

/* 2015.12.08 추천 연수 행사 일정 수정 */
#Containerwrap .intro_content_wrap .intro_content .recommend .first_li_pd {padding-left:0;}
#Containerwrap .intro_content_wrap .intro_content .recommend li {padding-top:11px}
#Containerwrap .intro_content_wrap .intro_content li > a {position:relative;}
#Containerwrap .intro_content_wrap .intro_content li > a > span.recommend_over {display:none; position:absolute; top:0; left:0; padding-top:0;}

/* 2016.01.26 탭메뉴 */
.blind { position:absolute; top:0; left:0; width:0; height:0; font-size:0; line-height:0; visibility:hidden; }
.tabmenu_wrap { width:100%; height:91px; background:url('//img.modetour.co.kr/ModeWebAgent/2015/bizmode/bg/bg_full_tabs.png') repeat-x; }
.tabmenu_wrap .tabs_menu { position:relative; margin:0 auto; width:971px; overflow:hidden; }
.tabs_menu > li { float:left; }
.tabs_menu a { display:block; height:91px; background:url('//img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/bg_conts_tabs.png') no-repeat; }
.tabs_menu a.item01 { width:486px; background-position:0 0; }
.tabs_menu a.item01.current { background-position:0 -101px; }
.tabs_menu a.item02 { width:485px; background-position:-517px 0; }
.tabs_menu a.item02.current { background-position:-517px -101px; }
#Containerwrap .intro_content_wrap .intro_content2 { position:relative; margin:0 auto; padding-top:35px; width:971px; }
#Containerwrap .intro_content_wrap .intro_content2 h3 { margin-bottom:13px; font-size:25px; text-align:center; }
#Containerwrap .intro_content_wrap .intro_content2 p.note { margin-bottom:20px; font-size:13px; text-align:center; color:#343738; }
#Containerwrap .intro_content_wrap .preferred_service { overflow:hidden; }
#Containerwrap .intro_content_wrap .preferred_service li { margin-left:8px; float:left; }
#Containerwrap .intro_content_wrap .preferred_service li:first-child { margin-left:0; }