@charset "UTF-8";

/* [S] 메인, 서브 공통 */
@import url(http://fonts.googleapis.com/earlyaccess/nanumgothic.css);

/* common */
body, input, textarea, select, button, table {font-family:'돋움',Dotum,AppleGothic,sansserif; font-size:12px;}
* {margin:0; padding:0;}
fieldset, img, iframe  {border:0;}
table {border-collapse:collapse; border-spacing:0;}
address, caption, cite, code, dfn, em, th, var {font-style:normal; font-weight:normal;}
ol, ul {list-style:none;}
a{text-decoration:none;}
.ir_pm {display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px} /* 사용된 이미지내 의미있는 텍스트의 대체텍스트를 제공할때 */
.ir_wa {position:relative; z-index:-10; display:block; overflow:hidden;width:100%; height:100%} /* 중요한 이미지 대체텍스트로 이미지off시에도 대체 텍스트를 보여주고자 할때 */
.screen_out {position:absolute; overflow:hidden; width:0; height:0; line-height:0; text-indent:-9999px} /* 대체텍스트가 아닌 접근성을 위한 숨김텍스트를 제공할때 */
.Skipnav {position:fixed;top:-100px;left:0;width:1px;height:1px;display:block;font-size:0;line-height:0;overflow:hidden;}
.Skipnav a:active, .Skipnav a:focus {top:0;}
.font_nn {font-family:"Nanum Gothic";}
.color_purple {color:#161140;}
.color_yellow {color:#f4a81b;}

/* wrap */
#wrap {position:relative; width:100%; min-width:1110px;}
#header {position:relative; width:100%; z-index:151;}

/* header */
#header {height:195px;}
#header .info_list {width:100%; padding:7px 0 9px; background-color:#f0f0f0;}
#header .info_list > ul {overflow:hidden; width:935px; padding-right:60px; margin:0 auto; text-align:right;}
#header .info_list li {display:inline-block; padding:0 3px 0 5px; border-left:1px solid #c7c7c7;}
.ie7 #header .info_list li {display:inline; zoom:1; padding:0 5px 0 7px;}
#header .info_list li:first-child {padding:0 3px 0 0; border-left:none;}
.ie7 #header .info_list li:first-child {padding:0 5px 0 0;}
#header .info_list li a {font-size:11px; font-weight:bold; color:#4c4c4c;}
#header .logo_section {position:relative; width:100%; padding-bottom:18px; margin:15px auto 0; border-bottom:1px solid #dee0e1;}
#header .logo_section h1.header_logo {position:relative;width:211px; height:50px; margin:0 auto;}
#header .logo_section h1.header_logo img{position:absolute;top:0;left:0;}
#header .logo_section a.time_evt {position:absolute; top:-5px; left:50%; margin-left:293px;}

/* nav */
#header #nav {position:relative; width:935px; margin:0 auto;}
#header #nav a {font-family:"Nanum Gothic";}
.ie7 #header #nav a:hover {letter-spacing:-1px;}
.ie8 #header #nav a:hover {letter-spacing:-1px;}
#header #nav > ul {overflow:hidden;}
#header #nav > ul > li {float:left;}
#header #nav > ul > li > h3 > a {padding-right:15px; padding-left:15px; font-size:14px; font-weight:500; line-height:50px; color:#4d4d4d; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/bg/bg_nav_line.gif") right center no-repeat;}
#header #nav > ul > li:first-child > h3 > a{padding-left:0;}
#header #nav > ul > li > h3 > a:hover {font-weight:800;}
#header #nav > ul > li > h3 > a.color_purple {font-weight:bold; color:#161140;}
#header #nav > ul > li > h3 > a.color_purple:hover {letter-spacing:0;}
#header #nav li.last > h3 > a {padding-right:0; margin-right:0; background:none;} 
#header #nav > a.btn_allView {position:absolute; top:0; right:0; display:block; width:123px; font-size:14px; font-weight:500; line-height:50px; color:#00694d; text-align:center; text-indent:18px; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_all_view.png") 22px 21px no-repeat; border-right:1px solid #dee0e1; border-left:1px solid #dee0e1;}
.ie7 #header #nav > a.btn_allView  {background-position:22px 20px; letter-spacing:-1px;}
.ie8 #header #nav > a.btn_allView  {background-position:22px 20px; letter-spacing:-1px;}

/* arrow */
#header #nav .arrow {display:none; position:absolute; top:40px; width:12px; height:11px; z-index:201; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/bg/bg_allview_arrow.png") 0 0 no-repeat;}
#header #nav .arrow1 {left:30px;}
#header #nav .arrow2 {left:110px;}
#header #nav .arrow3 {left:184px;}
#header #nav .arrow4 {left:267px;}
#header #nav .arrow5 {left:332px;}

/* allView_wrap */
#header #nav .allView_wrap {display:none; position:absolute; top:50px; left:0; z-index:200;}
#header #nav .allView_wrap .allView_areaWrap {width:933px; background-color:#fff; border:1px solid #dee0e1;}
#header #nav .allView_wrap .allView_area {position:relative; width:903px; min-height:380px; margin:15px;}
#header #nav .allView_wrap .allView_area a {display:block; padding:4px 7px; font-size:13px; line-height:20px; color:#767676;}
#header #nav .allView_wrap .allView_depth1 {position:absolute; top:0; left:0; width:70px; text-align:center;}
#header #nav .allView_wrap .allView_depth2 {display:none; position:absolute; top:0; left:90px; width:125px; text-align:left;}
#header #nav .allView_wrap .allView_depth3 {display:none; position:absolute; top:0; left:145px; width:145px; text-align:left;}
#header #nav .allView_wrap .allView_depth4 {display:none; position:absolute; top:0; left:165px; width:165px; text-align:left;}
#header #nav .allView_wrap .allView_depth4 a {padding:2px 2px; font-size:12px; color:#9ca3b3;}
#header #nav .allView_wrap .allView_area .allList_depth1_on .allView_depth2{display:block;}
#header #nav .allView_wrap .allView_area .allList_depth1_on .allList_depth2_on .allView_depth3 {display:block;}
#header #nav .allView_wrap .allView_area .allList_depth1_on .allList_depth2_on .allList_depth3_on .allView_depth4{display:block;}
#header #nav .allView_wrap .allView_area .allView_active1 {color:red;}
#header #nav .allView_wrap .allView_area .allView_active2,
#header #nav .allView_wrap .allView_area .allView_active3 {color:#fff; background:#9da3af;}
#header #nav .allView_wrap .allView_depth4 a:hover {text-decoration:underline;}
#header #nav .allView_wrap .allView_area .allView_img {position:absolute; top:60px; left:580px;}
#header #nav .allView_wrap .allView_area .allView_img ul {position:relative;}
#header #nav .allView_wrap .allView_area .allView_img li {position:absolute; top:0; left:0; display:none;}
#header #nav .allView_wrap .allView_area .allView_img .allView_img01 {display:block;}
#header #nav .allView_wrap .allView_area .btn_allViewClose {position:absolute; bottom:0; right:0; display:block; width:14px; height:14px; background:url("http://img.modetour.co.kr/mode2010/onlinecp/ca/btn_sub_item_close.gif") no-repeat;}

/* search_section */
#header .search_section {width:100%; color:#fff; line-height:30px; background-color:#4c5467;}
#header .search_section a {color:#fff;}
#header .search_section .search_wrap {overflow:hidden; width:935px; margin:0 auto;}
#header .search_section .search_wrap dl.quick_search {float:left; font-weight:bold;}
#header .search_section .search_wrap dl.search_box {float:right;}
#header .search_section .search_wrap .search_box dd > input[type="text"] {width:180px; height:17px; margin:4px 5px 4px 0; vertical-align:middle;}
.ie7 #header .search_section .search_wrap .search_box dd > input[type="text"] {height:19px; margin:3px 5px 3px 0;}
#header .search_section .search_wrap .search_box dd a.btn_serch {display:inline-block; width:20px; height:19px; padding-left:10px; vertical-align:middle; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_search_black.gif") 0 0 no-repeat;}
#header .search_section .search_wrap .quick_search dt {padding-left:25px; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/ico/ico_search_white.png") left center no-repeat;}
#header .search_section .search_wrap .quick_search dt > span {padding:0 10px;}
#header .search_section .search_wrap dt, dd {float:left;}

/* Containerwrap - lnb_wrap */
#Containerwrap {overflow:hidden; width:935px; margin:15px auto 0;}
#Containerwrap .lnb_wrap {float:left; margin-right:10px; width:150px;}
#Containerwrap .lnb_wrap .lnb {width:150px; line-height:22px; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/bg/bg_lnb_line.gif") 0 0 no-repeat;}
#Containerwrap .lnb_wrap .lnb h3 {padding:5px 10px;}
#Containerwrap .lnb_wrap .lnb h3 > a {display:block; font-size:14px; color:#262626;}
#Containerwrap .lnb_wrap .lnb h3 > a:hover {color:#e24841;}
#Containerwrap .lnb_wrap .lnb h3.active > a {vertical-align:middle; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/ico/ico_plus.png") right center no-repeat;}
#Containerwrap .lnb_wrap .lnb ul.depth2 {padding:5px 8px; background:#edecec; border-top:1px solid #dcdcdc;}
#Containerwrap .lnb_wrap .lnb .depth2 > li > p > a {display:block; font-size:12px; color:#646363;}
#Containerwrap .lnb_wrap .lnb .depth2 > li > p > a:hover,
#Containerwrap .lnb_wrap .lnb .depth2 > li > p.on > a {color:#e24841;}
#Containerwrap .lnb_wrap .lnb .depth2 > li > p > a:hover,
#Containerwrap .lnb_wrap .lnb .depth2 > li > p.on > a {padding-left:10px; vertical-align:middle; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/ico/ico_on.png") left center no-repeat;}
#Containerwrap .lnb_wrap .lnb ul.depth3 {margin:7px 0;  padding:5px; background:#fff; border:1px solid #e5e5e5;}
#Containerwrap .lnb_wrap .lnb .depth3 > li > a {font-size:11px; color:#9ca3b3;}
#Containerwrap .lnb_wrap .lnb .depth3 > li > a:hover { text-decoration:underline;}
#Containerwrap .lnb_wrap div.lnb_aside {margin-top:10px;}
#Containerwrap .lnb_wrap .lnb_aside > a {display:block; padding:15px 0; margin-bottom:10px; font-size:13px; color:#fff; text-align:center; background-color:#9b9999;}
#Containerwrap .lnb_wrap .lnb_aside a.btn_lnbAside02 {background-color:#fa8383;}
#Containerwrap .lnb_wrap .lnb_aside ul.lnbAsideGuuide_wrap {overflow:hidden; margin-top:10px;}
#Containerwrap .lnb_wrap .lnb_aside li {float:left; width:50%; padding:5px 0;}
#Containerwrap .lnb_wrap .lnb_aside li > a {display:block; padding-top:60px; font-size:11px; font-weight:bold; color:#4c5467; text-align:center;}
#Containerwrap .lnb_wrap .lnb_aside li > a:hover {font-weight:800;}
#Containerwrap .lnb_wrap .lnb_aside li.btn_lnbAsideGuuide01 > a {background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_lnb_aside_guide_01.gif") top center no-repeat;}
#Containerwrap .lnb_wrap .lnb_aside li.btn_lnbAsideGuuide02 > a {background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_lnb_aside_guide_02.gif") top center no-repeat;}
#Containerwrap .lnb_wrap .lnb_aside li.btn_lnbAsideGuuide03 > a {background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_lnb_aside_guide_03.gif") top center no-repeat;}
#Containerwrap .lnb_wrap .lnb_aside li.btn_lnbAsideGuuide04 > a {background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_lnb_aside_guide_04.gif") top center no-repeat;}

/* footer */
#footer {clear:both; width:100%;}
#footer .terms_wrap {width:100%; line-height:30px; background-color:#4c5467;}
#footer .terms_wrap > ul,
#footer .footer_section {width:935px; margin:0 auto;}
#footer .terms_wrap > ul {overflow:hidden; width:766px;}
#footer .terms_wrap > ul > li {float:left;}
#footer .terms_wrap > ul > li > a {padding-right:20px; margin-right:20px; color:#fff; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/bg/bg_footer_line.gif") right center no-repeat;}
#footer .terms_wrap > ul > li.last > a {padding-right:0; margin-right:0; background:none;}
#footer .terms_wrap > ul > li > a.color_yellow {color:#f4a81b;}
#footer .footer_section {overflow:hidden; padding:15px 0;}
#footer a.footer_logo {display:block; float:left; padding:15px 0;}
#footer .address_wrap {float:left; margin-left:30px; color:#828a8f; font-size:11px;}
#footer .address_wrap p {padding-top:10px;}
#footer .address_wrap > address > a {color:#828a8f;}

/* quick_bnnr */
.quick_bnnr {position:absolute; top:210px; left:50%; width:70px; margin-left:482px; text-align:center;}
.quick_bnnr dl {overflow:hidden; margin-bottom:15px; background-color:#fff;}
.quick_bnnr dt {padding:5px; font-weight:bold; color:#fff;}
.quick_bnnr dd {width:100%; line-height:14px; color:#818181;}
.quick_bnnr dl.quick_bnnr01 {border:1px solid #d8d7d4;}
.quick_bnnr .quick_bnnr01 dt {margin-bottom:5px; font-size:14px; background-color:#6f6c6c;}
.quick_bnnr .quick_bnnr01 dd {font-size:12px; font-weight:bold;}
.ie7 .quick_bnnr .quick_bnnr01 dd {font-size:11px;}
.ie8 .quick_bnnr .quick_bnnr01 dd {font-size:11px;}
.quick_bnnr .quick_bnnr01 dd.time {font-size:10px;}
.ie7 .quick_bnnr .quick_bnnr01 dd.time {letter-spacing:-1px;}
.ie8 .quick_bnnr .quick_bnnr01 dd.time {letter-spacing:-1px;}
.quick_bnnr .quick_bnnr01 dd.tel {padding-bottom:5px; font-size:15px; font-weight:800; color:#5f5e5e; letter-spacing:-1px;}
.ie7 .quick_bnnr .quick_bnnr01 dd.tel {font-size:14px;}
.ie8 .quick_bnnr .quick_bnnr01 dd.tel {font-size:14px;}
.quick_bnnr dl.quick_bnnr02 {border:1px solid #706891;}
.quick_bnnr .quick_bnnr02 dt {font-size:11px; background-color:#706891;}
.ie7 .quick_bnnr .quick_bnnr02 dt {letter-spacing:-1px;}
.ie8 .quick_bnnr .quick_bnnr02 dt {letter-spacing:-1px;}
.quick_bnnr .quick_bnnr02 dd.view_img {width:60px; margin:5px;}
.quick_bnnr .quick_bnnr02 .view_img .cycle-slideshow li a {display:block;}
.quick_bnnr .quick_bnnr02 .view_img img {border:1px solid #d9dadc;}
.quick_bnnr .quick_bnnr02 .view_img em.view_goods {display:block; width:60px; padding:5px 0; font-size:11px; color:#818181; word-spacing:-1px;}
.quick_bnnr .quick_bnnr02 .view_img em.view_goods > span {display:block; padding-top:2px;}
.quick_bnnr .quick_bnnr02 dd.btn_quick {padding:5px 0; background-color:#706891;}
.quick_bnnr .quick_bnnr02 .btn_quick > a {display:inline-block; width:10px; height:10px; vertical-align:middle;}
.quick_bnnr .quick_bnnr02 .btn_quick a.btn_quickPrev {padding-right:2px; background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_quick_prev.gif") 0 0 no-repeat;}
.quick_bnnr .quick_bnnr02 .btn_quick a.btn_quickNext {background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_quick_next.gif") 0 0 no-repeat;}
.quick_bnnr a.top {display:block; padding-top:15px; font-size:13.5px; font-weight:800; color:#4c5467;}
.quick_bnnr a.btn_quickTop {background:url("http://img.modetour.co.kr/ModeWebAgent/2015/bizmode/btn/btn_quick_top.png") top center no-repeat;}
/* [E] 메인, 서브 공통 */